<div class="post-form">
  <button class="close-button" (click)="onClose()">×</button>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <input formControlName="id" type="hidden">
    <div>
      <label for="title">Title</label>
      <input id="title" formControlName="title" type="text">
    </div>
    <div>
      <label for="body">Body</label>
      <textarea id="body" formControlName="body"></textarea>
    </div>
    <button type="submit">{{ data.post ? 'Update' : 'Create' }}</button>
  </form>
</div>
