<div class="create-post">
  <button class="create-post-button" (click)="createNewPost()">Create New Post</button>
</div>

<div *ngIf="(posts$ | async) as posts" class="post-list">
  <div *ngFor="let post of posts" class="post-item">
    <h2>{{ post.title }}</h2>
    <p>{{ post.body }}</p>
    <div class="post-footer">
      <button class="edit-button" (click)="editPost(post)">Edit</button>
      <button class="delete-button" (click)="deletePost(post.id!)">Delete</button>
    </div>
  </div>
</div>
